---
layout: none
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Brandon Canfield</title>
		<link rel="stylesheet" href="/assets/css/styles.css"/>
		<script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
		<!--
		<script type="text/javascript" src="/assets/js/jquery.smoothState.min.js"></script>
		-->
		<script type="text/javascript">
var current_expanded = "";
function toggle(selector) {
	if (current_expanded !== "") {
		let elt = $(current_expanded);
		elt.css("max-height", "0");
		elt.css("padding-top", "0");
		elt.css("padding-bottom", "0");
	}
	if (current_expanded !== selector) {
		let elt = $(selector);
		elt.css("max-height", "800px");
		elt.css("padding-top", "24px");
		elt.css("padding-bottom", "24px");
		current_expanded = selector;
	} else {
		current_expanded = "";
	}
}
		</script>
	</head>
	<body>
		<div class="everything">
			<div class="layout_block header">
				{% include logo.html %}
			</div>

			<div class="layout_block frontpage about_me" style="background: #e4e6dd url('/assets/img/about_me.jpg') no-repeat 0% 30%; background-size: 336px auto;">
				<h1 class="frontpage_title" style="color: black;">
					ABOUT ME
				</h1>
				{% capture about_me %}{% include about_me.md %}{% endcapture %}
				{{ about_me | markdownify }}
			</div>
			
			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background: url('/assets/img/helical_scan_2019.jpg') 50% 0%;background-size: cover;" onclick="toggle('#details_helical_scan_2019');">
					<h1 class="frontpage_title" style="">
						HELICAL SCAN
					</h1>
				</div>
				<div id="details_helical_scan_2019" class="frontpage_details">
					<p>
					<i>Helical Scan</i> was a sculptural installation at Yale University (November 2019) exploring the technical possibilities of looping VHS tapes as well as the artistic possibilities of a video medium that self-destructs over time.
					You can watch video snippets of <i>Helical Scan</i> <a href="https://www.youtube.com/watch?v=2tPPTTnFMns&list=PLLPH6m6OeqGLP2vnrkYc_Rj93fe-F3jVT&index=2">here</a>.
					Photo documentation will be uploaded at a later date.
					</p>
					<p><b>Installation Notes:</b>
					Looping magnetic tapes of audio information is a well-established artistic practice.
					Looping magnetic tapes of video is substantially less explored.
					This project explores the technical and artistic possibilities of using VHS tape and VCRs themselves as a medium.
					</p>
					<p>
					This project was funded by a Yale College Creative and Performing Arts award.
					</p>
					<p>
					<i>Helical Scan</i> will also be part of the <b>The All-Nighter: Live @Murray Music Festival</b> at Yale University in January 2020.
					</p>
				</div>
			</div>

			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background: url('/assets/img/431_project.jpg') 50% 67%;background-size: cover;" onclick="toggle('#details_431_project');">
					<h1 class="frontpage_title" style="">
						CO-IMPROVISER
					</h1>
				</div>
				<div id="details_431_project" class="frontpage_details">
					<p>
					I created a computer co-improviser as a final project for the course <i>Algorithmic Composition</i>.
					The program records melodies inputted as MIDI in real-time, performs a brief analysis, and then tries to generate new material.
					The results are not stunning, but at least endearing.
					</p>
					<p>
					You can watch a demo of the project <a href="https://www.youtube.com/watch?v=9_eMxcfKUo0">here</a>.
					I may publish the source code after some cleanup.
					I would like to develop this project further if I find time, specifically adding a more sophisticated pitch model, a sense of macro-structure, or more rhythmic variation to the program.
					</p>
				</div>
			</div>

			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background: url('/assets/img/omi_concert_spring_2019.jpg') 50% 33%;background-size: cover;" onclick="toggle('#details_omi_spring_2019');">
					<h1 class="frontpage_title" style="">
						VOICE DREAM
					</h1>
				</div>
				<div id="details_omi_spring_2019" class="frontpage_details">
					<p>
					This piece was a collaboration with Thomas Hagen for the Yale Open Music Initiative concert (spring 2019).
					</p>
					<p><b>Program Notes:</b>
					&#x201C;<i>Voice Dream</i> is an improvised ambient piece.
					Vocal tones were recorded up close, looped, and fed through filters and delay lines.
					These drones are overlaid with percussive samples similarly sent through delay lines with automated changes in delay time, distorting the sounds as they are replayed.&#x201D;
					</p>
					<p>
					You can watch the entire concert <a href="https://www.youtube.com/watch?v=ac0GrSG5IKU" target="_blank">here</a>.
					<i>Voice Dream</i> starts at approximately 9:05.
					</p>
				</div>
			</div>

			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background: #b23cac;" onclick="toggle('#details_summer_2019');">
					<h1 class="frontpage_title" style="">
						WATCH WHAT I DO... BUT NOT TOO CLOSELY
					</h1>
				</div>
				<div id="details_summer_2019" class="frontpage_details">
					<p>
					I spent a summer at the Carnegie Mellon School of Computer Science working in the Institute for Software Research and the Human Computer Interaction Institute with Toby Jia-Jun Li and Brad A. Myers.
					My research was focused on preserving privacy while sharing GUI-based programming-by-demonstration scripts.
					</p>
					<p>
					You can view the end-of-program poster <a href="/assets/pdf/summer_2019_poster.pdf">here</a>.
					</p>
				</div>
			</div>

			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background: url('/assets/img/enclosure/frontpage.jpg') 50% 75%;background-size: cover;" onclick="toggle('#details_enclosure');">
					<h1 class="frontpage_title" style="">
						ENCLOSURE
					</h1>
				</div>
				<div id="details_enclosure" class="frontpage_details">
					<p>
					This project was a collaboration with Journey Streams and Gema Martinez for the course <i>Scales of Design</i>.
					Our task was to design an &#x201C;enclosure for the human&#x201D;.
					</p>
					<p>
					&#x201C;Our enclosure is both physical and psychological.
					Two mirrors redirect the wearer’s line of vision so they only see their periphery.
					In this sense, the wearer is only aware of where they aren’t.
					</p><p>
					&#x201C;Each step forward becomes a step into the invisible.
					Auditory perception is also distorted, as the reverberation in the enclosure relocates incoming sound.
					The experience is isolatory, but also forces dependency on those nearby for the wearer to navigate safely through space.
					This sensory distortion is conveyed to the outside viewer through the warped mirror surface that refracts one’s surroundings, perplexing and unsettling even those who are not wearing it.&#x201D;
					</p>
					<p>
					More pictures <a href="/assets/img/enclosure/1.jpg" target="_blank">here</a> and <a href="/assets/img/enclosure/3.jpg" target="_blank">here</a>.
					</p>
				</div>
			</div>

			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background: #06a5d6;" onclick="toggle('#details_radione');">
					<h1 class="frontpage_title" style="">
						RADIONE
					</h1>
				</div>
				<div id="details_radione" class="frontpage_details">
					<p>
					Radione is an art project and experimental messaging service heavily inspired by the nature of conversations on walkie-talkie radios.
					Conversations on Radione are ephemeral, anonymous, and surveillable.
					Participants must either understand the flow of conversation well enough or develop a system to explicitly avoid collisions, otherwise, participants may talk over each other, resulting in incomprehensibility.
					</p>
					<p>
					You can view the source of Radione on <a href="https://github.com/brndncn/radi.one">GitHub</a>. 
					A Heroku instance of Radione runs at <a href="http://radi.one/">radi.one</a>.
					A screenshot of Radione can be seen <a href="/assets/img/radione.png">here</a>.
					</p>
				</div>
			</div>

			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background-color: #06d6a0;" onclick="toggle('#details_forage');">
					<h1 class="frontpage_title" style="">
						FORAGE
					</h1>
				</div>
				<div id="details_forage" class="frontpage_details">
					<p>
					<i>Forage</i> is a final project for the course <i>Human-Computer Interaction</i>.
					It is a design for a mobile app that reduces food waste by enabling single adults to cook and eat meals in groups.
					It won Best Poster Presentation, awarded by a team of faculty judges.
					This project was a collaboration with Jessica Ambrosio, Viola Mocz, and Alice Wu.
					</p>
					<p>
					You can view the poster <a href="/assets/pdf/forage.pdf">here</a>.
					</p>
				</div>
			</div>

			<div class="layout_block frontpage">
				<div class="frontpage_header" style="background: url('/assets/img/ams/1.png') center; background-size: cover;" onclick="toggle('#details_ams');">
					<h1 class="frontpage_title" style="">
						AMS
					</h1>
				</div>
				<div id="details_ams" class="frontpage_details">
					<p>
					<i>Angular Momentum Surgeon</i> is a JavaScript and Canvas game heavily inspired by the classic 1994 Macintosh game <i>Spin Doctor</i>.
					I completed it in 2017 for a high school project.
					The original files for the game were lost, but I found a partial backup of the game with the tutorials and one level.
					</p>
					<p>
					You can play the old version of the game <a href="/ams_backup/angular_momentum_surgeon.html">here</a>.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
